{{> header}}

<div class="detail-section">
  <h2 class="detail-title">{{title}}</h2>
  {{#if img_url}}
  <img class="detail-image" src={{img_url}} alt={{title}} />
  {{/if}}
  <!-- <p>category: {{type}}</p> -->
  <p class="detail-date">{{prettyDate date}}</p>
  <p>{{prettyTime start_time}} - {{prettyTime end_time}} at {{location}}</p>
  <p>price: {{cost}}</p>
  <p class="detail-description">{{description}}</p>
</div>
