<h2>{{title}}</h2>
<img src={{img_url}} alt={{title}} />
<p>category: {{type}}</p>
<p>{{date}} at {{location}}</p>
<p>from {{start_time}} to {{end_time}}</p>
<p>price: {{cost}}</p>
<p>{{description}}</p>
