<h2>{{title}}</h2>
{{#if img_url}}
  <img src={{img_url}} alt={{title}} />
{{/if}}
<p>category: {{type}}</p>
<p>{{prettyDate date}} at {{location}}</p>
<p>from {{start_time}} to {{end_time}}</p>
<p>price: {{cost}}</p>
<p>{{description}}</p>
