
{{> header }}

<div class="list-page-content">

  <section class="calendar-section">
    {{> calendar }}
  </section>

  <section class="events-section">
    {{#each datesWithEvents}}
    <div class="event-date-container">
      <p class="event-date">{{prettyDate date}}</p>
    </div>

    {{#each events}}
    <div class="event-container">
        <a class="event-link" href="/events/{{id}}">
        <h3>{{title}}</h3>
        <p>At {{location}}</p>
        <p>{{prettyTime start_time}} to {{prettyTime end_time}}</p>
      </a>
    </div>
    {{/each}}

    {{/each}}
  </section>

</div>

<script type="text/javascript" src="/js/calendar.js"></script>
<script type="text/javascript" src="/js/list.js"></script>
