
{{> header }}

<div class="list-page-content">

  <section class="calendar-section">
    {{> calendar }}
  </section>

  <section class="events-section">
    {{#each datesWithEvents}}
    <p class="red-text">{{date}}</p>
    {{#each events}}
    <p>{{title}} </p>
    <p>{{description}}</p>
    <p>{{time}} {{location}}</p>
    <br/>
    {{/each}}
    {{/each}}
  </section>

</div>

<script type="text/javascript" src="/js/calendar.js"></script>
<script type="text/javascript" src="/js/list.js"></script>
